// Place all the styles related to the Coaching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  display: block;
  margin: 20px auto;
}

body {
  text-align: center;
}
